<div class="login" ng-if="login.ready">
	 <div class="logo"></div>
	 <div class="menu">
	 <ul>
	 	<li ng-repeat="v in list" class="opacity-1" title="{{v.name}}" ng-click="v.ctr()" >
	 		<div class="item" style="background-position-y:-{{v.pos*31}}px;"></div>
	 	</li>
	 </ul>
	 </div>
	 <div style="position: absolute;top:0;z-index: -1;">
	 	<snow width="1024" height="576"></snow>
	 </div>
	 <bgm ng-src="source/audio/bgm/login.ogg"  loop  autoplay></bgm>
</div>
<div class="plot" ng-if="plot.ready"></div>
<div class="movie" ng-if="movie.ready">
	<movie ng-src="{{movie.src}}" ng-click="next(loadlogin)" ng-ended="next(loadlogin)"></movie>
</div>
<div class="audio"></div>